[facebook]
access_token=

[twitter]
consumer_key=
consumer_secret=
access_token_key=
access_token_secret=

[instagram]
client_id=
client_secret=

[google_plus]
api_key=

[tumblr]
oauth_consumer_key=

[google_docs]
user_name=
password=
spreadsheet_title=
